/* CSS Document */

table
{
padding:10px;
margin:2px;
letter-spacing:1.5px;
}
div.chart_mode
{
padding:2px;
margin:2px;
background-color:#666660;
height:30px;
min-width:1280px;
max-height:60px;
color:#CCCCFF;
border:medium #000000;
text-align:center;
height:25x;
top:0px;
float:left;
width:200px;
}
div.result_content
{
	text-align:center;
	vertical-align:middle;
	font-family:Calibri;
}
div.result_item
{
	font-family:Calibri;
	font-style:normal;
	font-variant:normal;
}