/* CSS Document */

div.login_container
{
background-color:#191919;
width:250px;
float:right;
}
div.login_spacer
{
background-color:#CCFF66;
width:inherit;
height:150px;
}
div.login_spacer2
{
background-color:#CCFF66;
width:50px;
height:150px;
}
div.login_content
{
margin-left:50px;
margin-top:100px;
	list-style-position:inside;
}

div.radio
{
text-align:center;
background-color:#F3F3F3;
color:#191919;
}
div.radio_head
{
background-color:#191919;
color:#CCCCFC;
height:150px;
vertical-align:middle;
font:Geneva, Arial, Helvetica, sans-serif;
}
div.radio_spacer
{
width:200px;
float:left;
vertical-align:middle;
background:#CC0000;
}
div.radio_content
{
text-align:center;
margin-left:200px;
}

