/* CSS Document */
a{
text-transform:none;
text-decoration:none;
}
a:link {color:#CC0000;}      /* unvisited link */
 a:visited {color:#CC0000;}  /* visited link */
 a:hover {color:#FF0000;}  /* mouse over link */
 a:active {color:#FF0000;}  /* selected link */
div.user_head
{
vertical-align:middle;
background-color:#33CC99;
}
div.user_name
{
position:relative;
left:20px;
}
div.user_search
{
position:absolute;
right:20px;
}
div.on_mind_song
{
text-align:center;
}
div.friends
{
position:relative;
right:-1060px;
top:20px;

}
table
{
padding:10px;
margin:2px;
letter-spacing:1.5px;
}
div.share_mode
{
padding:2px;
background-color:#666660;
height:30px;
min-width:1200px;
max-height:60px;
color:#CCCCFF;
text-align:center;
vertical-align:middle;
top:0px;
float:left;
width:98%;
}
div.shared
{
float:left;
font:Verdana, Arial, Helvetica, sans-serif;
margin:5px;
width:100%;
}
div.shared_element
{

margin:1%;
background:#6666FF;
}