/* CSS Document */
a{
text-transform:none;
text-decoration:none;
}
a:link {color:#CCCCFF;}      /* unvisited link */
 a:visited {color:#CCCCFF;}  /* visited link */
 a:hover {color:#FFFFFF;}  /* mouse over link */
 a:active {color:#FFFFFF;}  /* selected link */
div.top_navigation_bar a{
text-transform:none;
text-decoration:none;
}
div.top_navigation_bar a:link {color:#CCCCFF;}      /* unvisited link */
div.top_navigation_bar a:visited {color:#CCCCFF;}  /* visited link */
div.top_navigation_bar a:hover {color:#FFFFFF;}  /* mouse over link */
div.top_navigation_bar a:active {color:#FFFFFF;}  /* selected link */
div.base_all
{
width:1280px;
margin:0px;
border:none;
color:#CCCCFC;
}
div.top_navigation_bar
{
background-color:#666660;
height:30px;
width:1280px;
max-height:60px;
}
div.top_navigation_bar_element
{
color:#CCCCFF;
background-color:#666666;
border:thin #000000;
text-align:center;
height:25x;
top:0px;
float:left;
width:100px;
}
div.main_content
{
	float:left;
}
div.logo
{
background-color:#191919;
font:Calibri;
width:1280px;
height:100px;
float:left;
}

div.footer
{
		bottom:0;
		width:100%;
		min-height:60px;
		background-color:#191919;
	
	/*margin:0px;
	border:none;*/
	color:#CCCCFC;
	
}
table
{
color:#191919;
}
td{
min-width : 50px;
width:    180px;
text-transform:capitalize;
}
th
{
color:#DB4A38;
text-align:left;
}