/* 
    Document   : style_mod
    Created on : 26 Mar, 2013, 5:57:29 PM
    Author     : Akshat
    Description:
        Purpose of the stylesheet follows.
*/

body {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	background-color: #d6d6ce;
}
#main {
	width: 1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 60px;
	padding-right: 10px;
	padding-bottom: 60px;
	padding-left: 10px;
}

a, a:link, a:visited {
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#header_wrapper {
	width: 100%;
	height: 63px;
	background-image: url(../images/templatemo_header_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#header {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

#site_title { 
	float: left; 
}
#site_title a {
	display: block;
	color: #666;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: left;
}


#site_title a:hover { 
	text-decoration: none; 
}

#menu {
	float: right;
	position: relative;
	display: inline;
}

#middle_wrapper {
	width: 100%;
	height: 538px;
	background-color: #1f1f1e;
	background-image: url(../images/3278916237_6fdb2892f6.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
        
.fp_box5 { 
	float: left; 
	width: 160px; 
	margin-right: 15px; 
	padding: 9px; 
	text-align: center; 
	background: #c8c8bd; 
	border: 1px solid #e8e8e3; 
}

.fp_box5:hover { 
	background: #696960; 
}

.fp_box5 h2 a { 
	color: #000; 
	font-size: 14px; 
	font-weight: 700; 
}

.fp_box5 img { 
	margin-bottom: 10px; 
}

.fp_box5 h2 { 
	margin-bottom: 5px; 
}

.fp_box5 p { 
	text-align: left; 
}

.fp_box5:hover.fp_box5 h2 a { 
	color: #fff; 
	font-size: 14px; 
	font-weight: 700; 
}

.fp_box5:hover p { 
	color: #d6d6ce;
}
#footer_wrapper {
	width: 100%;
	background: #50504d;
	border-top: 5px solid #e8e8e7
}

#footer {
	width: 960px;
	margin: 0 auto;
	padding: 30px 10px;
}
#footer { 
	color: #bebeb2; 
	font-size: 11px;
}


.footer_list { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.footer_list li { 
	margin: 0 0 5px; 
	padding: 0 0 5px; 
}

.footer_list li a { 
	color: #fff; 
}

.footer_list li a.social { 
	display: block; 
	padding: 8px 0 8px 30px; 
	background-position: 0 5px; 
	background-repeat: no-repeat; 
}

.footer_list li a.facebook { 
	background-image: url(../images/facebook.png); 
}

.footer_list li a.twitter { 
	background-image: url(../images/twitter.png); 
}

.footer_list li a.feed { 
	background-image: url(../images/feed.png); 
}

#footer a {
	color: #fff;
	font-size: 14px;
}
.col { float: left; margin-right: 30px }
.col_12 { width: 450px }
.col_13 { width: 300px }
.col_23 { width: 630px }
.col_14 { width: 217px } 
.col_24 { width: 465px }
.col_15 { width: 180px; margin-right: 15px }
.no_margin_right { margin-right: 0 }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 {
	font-size: 30px;
	margin: 0 0 25px;
	padding: 5px 0;
	text-align: left;
}
h3 {
	font-size: 24px;
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
}
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
#footer h5 {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 15px;
}

#middle_wrapper_radio {
	width: 100%;
	height: 200px;
	azimuth:behind;
	background-image:url(../images/back2.jpg);
	background-color: #1f1f1e;
	background-repeat: no-repeat;
	background-position: center;
}

#footer .subscribe_button { 
	float: right; 
	display: block; 
	font-size: 10px; 
	color: #fff; 
	font-weight: 700; 
	width: 85px; 
	height: 23px;  
	padding-bottom: 5px; 
	padding-right: 25px; 
	background: url(../images/templatemo_button.png)    left center no-repeat; 
	border: none; 
	cursor: pointer; 
}

#footer .newsletter_txt { 
	width: 217px; 
	margin-bottom: 5px; 
	padding: 3px;	
}

.gallery_box {
	float: left;
	width: 200px;
	text-align: center;
	height: auto;
	margin: 20;
}

.gallery_box a { 
	font-size: 12px; 
	font-weight: 700; 
	
}

.float_l {
	float: left;
	width: 900px;
}

.float_r { 
	float: right; 
}

.post {
	clear: both;
	margin-bottom: 60px;
	text-align: left;
}

.post img { 
	float: left; 
	margin-right: 15px; 
}

.post h2 {
	margin-bottom: 0;
	font-size: 18px;
	margin-bottom: 10px;
	text-align: center;
}

.post .meta {
	clear: both;
	font-size: 10px;
	margin-top: 20px;
	background: #c8c8bd;
	border: 1px solid #e8e8e3;
	border-left: none;
	border-right: none;
	width: auto;
	padding: 5px;
	height: 10px;
}

.post .meta span { 
	float: left; 
	display: block; 
	margin-right: 20px; 
}

.post .meta span.more_but { 
	float: right; 
}

.post .meta span.more_but a { 
	color: #7f0d0d; 
} 

.post .meta a, .post .meta strong { 
	color: #7b7b7b; 
	font-weight: 700; 
}
