/* CSS Document */
h4{
color:#DB4A38;
}
div.song_header
{
color:#333333;
background-color:#F3F3F3;
width:100%;
text-align:center;
vertical-align:middle;
}
b{
color:#DB4A38;
}
div.review_content
{
	background-color:#F3F3F3;
	text-align:center;
	vertical-align:middle;
}
div.comment
{
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	vertical-align:middle;
}
div.comment form
{
	color:#666666;
}