/* CSS Document */

table
{
	padding: 10px;
	margin: 10px;
	letter-spacing: 1.5px;
	float: left;
}
div.chart_mode
{
	padding: 10px;
	margin: 10px;
	background-color: #666660;
	min-width: 1280px;
	max-height: 60px;
	color: #CCCCFF;
	border: medium #000000;
	text-align: center;
	top: 0px;
	float: left;
	height: 30px;
	width: 100px;
}
div.result_content
{
	text-align:center;
	vertical-align:middle;
	font-family:Calibri;
}
div.result_item
{
	font-family:Calibri;
	font-style:normal;
	font-variant:normal;
}
