/* 
    Document   : drop_down
    Created on : 20 May, 2013, 11:06:01 PM
    Author     : MOHIT
    Description:
        Purpose of the stylesheet follows.
*/

ul {
			font-family: Arial, Verdana;
			font-size: 14px;
			margin: 0;
			padding: 0;
			list-style: none;
		}
ul li {
			display: block;
			position: relative;
			float: left;
		}
		li ul { display: none; }
		ul li a {
			display: block;
			text-decoration: none;
                      
			color: #F3F3F3;
			border-top: 1px solid #F3F3F3;
			padding: 5px 15px 5px 15px;
			background:#191919;
			margin-left: 1px;
			white-space: nowrap;
		}
		
		ul li a:hover { background: #666660; }
		li:hover ul { 
			display: block; 
			position: absolute;
		}
		li:hover li { 
			float: none;
			font-size: 11px;
		}
		li:hover a { background: #666660; }
		li:hover li a:hover { background: #191919; }