/* CSS Document */

div.login_container
{
	background-color: #999999;
	float: right;
	margin: 10px;
	padding: 10px;
}
div.login_spacer
{
background-color:#CCFF66;
width:inherit;
height:150px;
}
div.login_spacer2
{
background-color:#CCFF66;
width:50px;
height:150px;
}
div.login_content
{
	list-style-position: inside;
	margin: 10px;
	padding: 10px;
}

div.radio
{
	text-align: center;
	background-color: #CCCCCC;
	color: #CCCCCC;
}
div.radio_head
{
	background-color: #CCCCCC;
	color: #CCCCFC;
	vertical-align: middle;
	font: Geneva, Arial, Helvetica, sans-serif;
}
div.radio_spacer
{
width:200px;
float:left;
vertical-align:middle;
background:#CC0000;
}
div.radio_content
{
	text-align: center;
	float: left;
}
