/* CSS Document */
a{
text-transform:none;
text-decoration:none;
}
a:link {color:#CC0000;}      /* unvisited link */
 a:visited {color:#CC0000;}  /* visited link */
 a:hover {color:#FF0000;}  /* mouse over link */
 a:active {color:#FF0000;}  /* selected link */
div.user_head
{
	vertical-align: middle;
	background-color: #CCCCCC;
}
div.user_name
{
    position: relative;
    left: 20px;
    top: 3px;
}
div.user_search
{
    text-align: right;
}
div.on_mind_song
{
text-align:center;
}
div.friends
{
    position: relative;
    text-align: right;
    right: 10px;
}
table
{
padding:10px;
margin:2px;
letter-spacing:1.5px;
}
div.share_mode
{
	background-color: #CCCCCC;
	height: 35px;
	max-height: 65px;
	color: #CCCCFF;
	text-align: center;
	vertical-align: middle;
	top: 0px;
	float: left;
	width: 100%;
}
div.shared
{
float:left;
font:Verdana, Arial, Helvetica, sans-serif;
margin:5px;
width:100%;
}
div.shared_element
{
	margin: 1%;
	background-color: #DFDFDF;
}
