/* CSS Document */
a{
color:#CCCCFC;}
a:link {color:#CCCCFC;}      /* unvisited link */
 a:visited {color:#CCCCFC;}  /* visited link */
 a:hover {color:#FFFFFF;}  /* mouse over link */
 a:active {color:#FFFFFF;}  /* selected link */

div.playlist_header
{
	height: 60px;
	width: 1120px;
	float: left;
	padding: 2px;
	background-color: #999999;
	min-width: 1100px;
	min-height: 60px;
	color: #CCCCFF;
	border: medium #000000;
	text-align: left;
	top: 0px;
	float: left;

}
div.playlist_content
{
background-color:#F3F3F3;
width:1130px;
font:Arial;
font-family:Arial;
float:left;
}
div.playlist
{
float:left;
}
#playlist_list
{
	font-family: Calibri;
	color: #FFFFFF;
	background-color: #CCCCCC;
	float: left;
	width: 150px;
}

#playlist_list table
{
color:#191919;
}
#playlist_list.td{
min-width : 50px;
width:    180px;
min-height:200px;
text-transform:capitalize;
}
#playlist_list.th
{
color:#DB4A38;
text-align:left;
}
