/* CSS Document */
table
{
padding:2px;
margin:2px;
}
div.search_field
{
text-align:center;
vertical-align:middle;
font-family:Calibri;
}
div.search_result_content
{
	text-align:center;
	vertical-align:middle;
	font-family:Calibri;
}
div.search_result_item
{
	font-family:Calibri;
	font-style:normal;
	font-variant:normal;
}